.contactSection {
  padding: 3rem 2rem;
  background-color: #ffffff;
  max-width: 70%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.textBlock {
  text-align: center;
  margin-bottom: 2.5rem;
}

.heading {
  font-size: 18px;
  margin-bottom: 0.5rem;
  color: #3A3A3A;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.row {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.field {
  flex: 1;
  min-width: 240px;
  display: flex;
  flex-direction: column;
}

.field label {
  font-weight: 600;
  margin-bottom: 0.4rem;
  font-size: 0.95rem;
  color: #333;
}


.input {
  padding: 0.75rem;
  border: 1px solid #3A3A3A;
  font-size: 1rem;
  width: 90%;
}
.input2 {
  padding: 0.75rem;
  border: 1px solid #3A3A3A;
  font-size: 1rem;
  width: 95%;
}


.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 0.95rem;
  color: #333;
}

.checkbox {
  width: 18px;
  height: 18px;
}

.privacyNote {
  font-size: 0.85rem;
  color: #666;
  margin-top: -0.5rem;
  line-height: 1.4;
}

.button {
  padding: 0.9rem;
  background-color: transparent;
  color: #07374E;
  border: 1px solid #07374E;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  justify-content: center;
  transition: background-color 0.3s;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  background-color: #07374E;
  color: white;
}
.required {
  color: red;
}