.latestSection {
  padding: 2rem;
  padding-left: 0;
  padding-right: 0;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.carouselWrapper {
  position: relative;
  overflow: hidden;
}
.carousel {
  display: flex;
  gap: 2rem;
  
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 1rem;

  /* Hide scrollbar for WebKit browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.carousel::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}


.card {
  height: auto;
  min-width: 25%;
  background: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
}

.cardContent {
  padding: 1rem;
}

.title {
  color: #07374E;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.date {
  font-size: 16px;
  font-weight: 600;
  color: #0E9296;
  margin-bottom: 0.5rem;
}

.readLink {
  margin-top: 26px;
  padding-top:40px;
  color: #07374E;
  text-decoration: none;
  font-weight: bold;
}

.arrowBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.dot {
  width: 10px;
  height: 10px;
  border: 1px solid #606060ff;
  background: #ffffffff;
  border-radius: 50%;
}

.active {
  background: #646464ff;
}
.arrowBtn{
  border-radius: 50%;
  padding: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
  .card {
    min-width: 90%;
  }

  .arrowBtn {
    padding: 8px;
  }
}