.searchForm {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 2rem auto;
  margin-bottom:0px;
  max-width: 1000px;
}

.searchField {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  flex: 1;
}

.searchInput {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  background-color: #D6D8DE;
  color: #07374E;
  width: 100%;
}

.searchButton {
  background-color: #0E9296;
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: flex-end;
  margin-top: 0px;
  height: fit-content;
}
  
.searchButton:hover {
 color:#07374E;
  background-color: #ffd63c;
}

@media (max-width: 768px) {
  .searchForm {
    flex-direction: column;
  }
  
  .searchField {
    width: 100%;
  }
  
  .searchButton {
    align-self: center;
    margin-top: 1rem;
    width: 100%;
  }
}