.container {
  background-color: #172b4d;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #ffffffff;
  margin: 0;
  height: auto;
  margin-top: 100px;

}

.contentWrapper {
  height: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.smallHeading {
  font-size: 45px;
  font-weight: 700;
  color: #ffffffff;
  margin: 20px 0px;
}

.paragraph {
  font-size: 16px;
  line-height: 1.6;
  color: #ffffffff;
  margin: 12px 0px 20px;
}

.button {
  display: inline-block;
  padding: 17px 35px;
  background-color: #0e9296;
  color: #ffffffff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 30px;
  width: 50%;
  border: 2px solid #0e9296;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: transparent;
  color: #fff;  
}

.rightColumn {
  text-align: center;
}

.rightColumn {
  width: 100%;
  height: 100%; /* or give it a fixed height depending on layout */
  display: flex;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.imagePlaceholder {
  width: 100%;
  height: auto;
  background: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  font-size: 1rem;
  border-radius: 8px;
}
@media (max-width: 840px) {
  .contentWrapper {
    grid-template-columns: 1fr;
  }
}


.imageRow {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  width: 20%; /* same as button width */
  margin-top: 1rem;
}

.smallImage {
  flex: 1;
  height: 10vh;
  border-radius: 8px;
  object-fit: cover;
}
