<!--
  templateType: page
  isAvailableForNewContent: true
  label: About Page Template
-->
{% extends "./layouts/base.hubl.html" %}

{% block body %}
  {% include "../components/partials/header.hubl.html" %}

  <main>

    {% module "TwoColumnContentModule" path="../components/modules/TwoColumnContentModule.jsx", label="Two Column Content Module" %}

    {% module "TwoColumnContentModule" path="../components/modules/TwoColumnContentModule2.jsx", label="Two Column Content Module" %}

    {% module "sixContainerGrid" path="../components/modules/sixContainerGrid.jsx", label="Six Container Grid" %}


  </main>


{% endblock body %}
