<!--
  templateType: page
  isAvailableForNewContent: true
  label: About Page Template
-->
{% extends "./layouts/base.hubl.html" %}

{% block body %}

  <main>
   {% module "Header Module" path="../components/modules/Header.module.jsx", label="Header Module" %}

    {% module "TwoColumnContentModule" path="../components/modules/TwoColumnContentModule.jsx", label="Two Column Content Module" %}

    {% module "TwoColumnContentModule" path="../components/modules/TwoColumnContentModule2.jsx", label="Two Column Content Module" %}

    {% module "sixContainerGrid" path="../components/modules/sixContainerGrid.jsx", label="Six Container Grid" %}

    {% module "Team" path="../components/modules/Team.jsx", label="Team" %}

    {% module "hospitality" path="../components/modules/hospitality.jsx", label="Hospitality" %}

    {% module "grid_section" path="../components/modules/featureGrid.jsx", label="Grid Section" %}

     

  </main>

  {% include "../components/partials/footer.hubl.html" %}
{% endblock body %}
