<!--
  templateType: page
  isAvailableForNewContent: true
  label: Contact Page Template
-->
{% extends "./layouts/base.hubl.html" %}

{% block body %}

  <main>
  {% module "fixedbutton Module" path="../components/modules/ButtonModule.jsx", label="Button Module" %}
     {% module "Header Module" path="../components/modules/Header.module.jsx", label="Header Module" %}
     {% module "text_background_section" path="../components/modules/textBackground.jsx", label="Text Background Section" %}

    {% module "contact_us_section" path="../components/modules/contactUs.jsx", label="Contact Us Section" %}

  </main>

   {% include "../components/partials/footer.hubl.html" %}
{% endblock body %}
