<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landlords Page Template
-->
{% extends "./layouts/base.hubl.html" %}

{% block body %}
 

  <main>
    {% module "Header Module" path="../components/modules/Header.module.jsx", label="Header Module" %}
    {% module "unlock_section" path="../components/modules/unlock.jsx", label="Unlock Section" %}

    {% module "ben_section" path="../components/modules/BenHutchen.jsx", label="Ben Hutchen Section" %}

    {% module "premium_section" path="../components/modules/premium.jsx", label="Premium Spaces Section" %}
  </main>

    {% include "../components/partials/footer.hubl.html" %}

{% endblock body %}
