<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landlords Page Template
-->
{% extends "./layouts/base.hubl.html" %}

{% block body %}
  {% include "../components/partials/header.hubl.html" %}

  <main>

    {% module "unlock_section" path="../components/modules/unlock.jsx", label="Unlock Section" %}

    {% module "ben_section" path="../components/modules/BenHutchen.jsx", label="Ben Hutchen Section" %}
  </main>

    {% include "../components/partials/footer.hubl.html" %}

{% endblock body %}
