<!--
  templateType: page
  isAvailableForNewContent: true
  label: Orega Page Template
-->
{% extends "./layouts/base.hubl.html" %}

{% block body %}
  {% include "../components/partials/header.hubl.html" %}

  <main>
    {% module "hero_section" path="../components/modules/hero.jsx", label="Hero Section" %}

    {% module "find_more_section" path="../components/modules/findmore.jsx", label="Find More Section" %}

    {% module "new_office_section" path="../components/modules/newoffice.jsx", label="New Office Section" %}

    {% module "type_office_section" path="../components/modules/type-office.jsx", label="type Office Section" %}

     {% module "mediatext_section" path="../components/modules/mediatext.jsx", label="MediaText Section" %}

     {% module "grid_section" path="../components/modules/featureGrid.jsx", label="Grid Section" %}

    {% module "featured_locations_section" path="../components/modules/FeaturedL.jsx", label="Featured Locations Section" %}

    {% module "customer-reviews_section" path="../components/modules/ReviewsModule.jsx", label="Customer Reviews Section" %}

    {% module "latest-news_section" path="../components/modules/LatestNewsModule.jsx", label="Latest News Section" %}
  </main>

  {% include "../components/partials/footer.hubl.html" %}
{% endblock body %}
