<!--
  templateType: page
  isAvailableForNewContent: true
  label: Services Page Template
-->
{% extends "./layouts/base.hubl.html" %}

{% block body %}
  {% include "../components/partials/header.hubl.html" %}

  <main>
    
    {% module "OfficeServices" path="../components/modules/OfficeServicesModule.jsx", label="Office Services Section" %}

     {% module "TextRows" path="../components/modules/TextRows.jsx", label=" Text Rows" %}

     {% module "customer-reviews_section" path="../components/modules/ReviewsModule.jsx", label="Customer Reviews Section" %}

     {% module "latest-news_section" path="../components/modules/LatestNewsModule.jsx", label="Latest News Section" %}

  </main>

  {% include "../components/partials/footer.hubl.html" %}
{% endblock body %}
